* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  padding: 2px 20px;
  border-radius: 50%;
}

header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 40px;
  color: #fff;
  background-color: #000000;
  animation: header-down 1s;
  z-index: 3;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header a {
  background-color: #fff;
  color: #000000;
  margin: 0 10px;
}

.bio-container {
  min-height: 400px;
  display: flex;
  max-width: 1000px;
  margin: 80px auto 40px;
  justify-content: space-evenly;
  align-items: center;
}

.bio-content {
  max-width: 45%;
  line-height: 1.2rem;
  text-align: center;
  padding: 10px;
  background-color: #f3f3f3;
  border-radius: 10%;
  box-shadow: 9px 12px 23px 0px #D3D3D3;
}

.bio-img-contain {
  max-width: 60%;
  height: 400px;
}

.bio-img {
  height: 100%;
  border-radius: 10%;
  box-shadow: 9px 12px 23px 0px #D3D3D3;
}

.project-container {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 75vw;
}

.project-container h2 {
  margin: 0 auto;
}

.project-content {
  width: 50%;
  text-align: center;
}

.project-img-contain {
  max-width: 60%;
  height: 300px
}

.project-img {
  height: 100%;
  border-radius: 10%;
  border: 1px #000 solid;
}

.project a {
  background-color: #000;
  color: #FFF;
}

.project-2, .project-3, .project-4 {
  display: none;
}

.btn-group {
  display: flex;
  margin: 5px auto;
  width: 20%;
  justify-content: space-evenly;
}

.skills-container {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.get-skills {
  display: flex;
  justify-content: center;
}

.skills-response {
  display: flex;
}

.response-contain {
  display: none;
}

.skills-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80vw;
}

.response-status {
  margin: 5 auto;
  text-align: center;
}

i {
  color: black;
  font-size: 40px;
  border-radius: 15%;
  box-shadow: 9px 12px 23px 0px #D3D3D3;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.skills-out {
  animation: get-skills 4s ease-out;
}

.skills-in {
  animation: skills-in 3s;
}

footer {
  height: 40px;
  background-color: #000;
  color: #FFF;
  text-align: center;
}

/* Animations */
@keyframes header-down {
  0% {
    height: 0%;
  }

  100% {
    height: 40px;
  }
}

@keyframes skills-in {
  0% {
    margin-left: 300%;
  }

  50% {
    margin-left: 200%;
  }

  100% {
    margin-left: 0%;
  }
}