* {
    box-sizing: border-box;
    color: #03DAC5;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    width: 100vw;
    background-color:  #0a192f;
}

.main-container {
    height: 100vh;
    display: flex;
    align-items: center;
}

.brand-div {
    position: absolute;
    top: 15px;
    left: 25px;
    z-index: 2;
}

.brand {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    margin: 0;
    line-height: 2rem;
}
  

.sub-nav-div {
    display: flex;
    align-items: center;
    height: 100%;
    width: 120px;
}
  
.sub-nav {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}
    
.sub-nav-item {
    list-style-type: none;
    margin: 20px auto;
    color: #0f9a8c;
}
        
.bio-div {
    height: 100%;
    display: flex;
    align-items: center;
}

.bio-sub {
    height: 100%;
    color: #03DAC5;
    border-right: #03DAC5 solid 1px;
    width: 100px;
}

.bio-container {
    color: #03DAC5;
    padding-left: 40px;
}

.bio-container p {
    margin: 0 auto;
}

.name {
    font-size: 5rem;
}

.role {
    font-size: 2rem;
    padding: 0 10px;
}

.name, .role {
    color: #aae0da;
}

.bio-container h1 {
    font-size: 4rem;
}
  
footer {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0px;
    height: 20px;
    width: 100%;
    color: #000;
    /* background-color: #FFF; */
    /* border-top: #03DAC5 1px solid; */
    z-index: 1;
}
  
footer p {
    color: #03DAC5;
    font-size: 10px;
}

@media only screen and (max-width: 768px) {

    header {
        flex-direction: column;
        justify-content: center;
        line-height: 1em;
        animation: none;
        height: 100px;
    }

    .bio-title {
        margin-top: 120px;
    }

    .bio-container::before {
        line-height: 1.2em;
        font-size: 30px;
        text-align: left;
    }

    .bio-content {
        width: 90%;
    }
}